.e{
    background-color: aqua;
    color:forestgreen;
}
.e2{
    background-color: gray;
    color:black;
    height:35px;
}
.sus{
    /*width: 1840px;
  height: 100px;
  background-color: transparent solid;
  background-top: transparent solid;
  border: 5px solid green;
  border-bottom: 1;
  margin-left: -5px;
    position: absolute;
    bottom: 930px;
    */
}